/* CSS code from style.css */
@font-face {
    font-family: "Lato";
    src: url("/resources/fonts/Lato-Regular.ttf");
}

/* Add your additional CSS styles here */
body {
    background-color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #333;
}


/* Style for quiz questions and options */
.quiz-question {
    margin-bottom: 10px;
}

.quiz-options label {
    display: block;
    margin: 5px 0;
}

.quiz-options input[type="radio"] {
    margin-right: 5px;
}

/* Define styles for quiz questions and options */
.quiz-question {
    margin-bottom: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.quiz-question:hover {
    transform: scale(1.02);
}

.quiz-options label {
    display: block;
    margin: 10px 0;
    padding: 10px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s, transform 0.1s;
}

.quiz-options label:hover {
    background-color: #e0e0e0;
    transform: scale(1.02);
}

.quiz-options input[type="radio"] {
    display: none;
}

.quiz-options input[type="radio"] + label::before {
    content: '\f10c';
    font-family: 'Font Awesome 5 Free';
    margin-right: 5px;
    color: transparent;
    transition: color 0.2s;
}

.quiz-options input[type="radio"]:checked + label::before {
    content: '\f111';
    color: #009688;
}

/* Style for the accordion sections */
.accordion-section {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    border-radius: 5px;
}

.accordion-section h2 {
    cursor: pointer;
}

.accordion-section-content {
    display: none;
}

.accordion-section.active .accordion-section-content {
    display: block;
}

